@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

/* ------------------------------ */
/* ------------GLOBAL------------ */
/* ------------------------------ */
body{
   font-family: v.$ff;
   background-color: v.$neutral_100;
}

.container{
   position: relative;
   max-width: 23.4375rem;
   margin-inline: auto;
   padding: 1.75rem 1rem 5rem;

  @include m.media(xxl){
      max-width: 90rem;
      padding: 5.5625rem 10.3125rem 8.0625rem;
  }
}

.fade_in{
   background-color: v.$neutral_300;
   opacity: 0.6;
   z-index: 5;
}